# Dependencies
node_modules
npm-debug.log*

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
test

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
*.md
!README.md
